.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    background-color: rgb(58, 54, 54);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10PX;
}
.submit{
    background-color: black;
    padding-inline: 20px;
    padding-block: 5px;
    color: white;
    border-radius: 3px;
}
.guessField{
    border: 5px solid rgb(41, 38, 38) ;
    height: 25px;
}
#guess{
    font-size: larger;
    font-weight: bolder;
}